<div class="row">
  <%= render partial: "layouts/template/breadcrumb" %>
</div>
<div class="card mb-3" style="max-width: 1200px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src=<%= @product.image %> class="img-fluid rounded-start" alt=<%= @product.name %>>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="text-center"><%= @product.name %></h3>
        <p class="card-text"><%= @product.description %></p>
        <p class="card-price mt-auto"><h4 style="color:Red; text-align: right">Price: <%= number_to_currency(@product.price) %></h4></p>
      </div>
    </div>
  </div>
</div>
