<% if current_user %>
  <br>
  <h5><svg xmlns='http://www.w3.org/2000/svg' width='48' height='48' fill='currentColor' class='bi bi-bag-check-fill' viewBox='0 0 16 16'>
    <path fill-rule='evenodd' d='M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z'/>
  </svg>
    <i>Details of your order:</i></h5>
  <h3>Order #<%= @order.id %></h3>
  <% if @order.status == 'paid' %>
    <p>Date of purchase <%= @order.updated_at.to_date %></p>
  <% else %>
    <p class='text-danger'>Your order is canceled, because it was created too long ago (<%= @order.created_at.to_date %>) and unfinished </p>
    <h3><%= link_to 'Please, repeat your order!', root_path %></h3>
  <% end %>
  <br>
  <table class='table'>
    <tr>
      <th>#</th>
      <th>Image</th>
      <th>Name</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
    <% @sum_order = 0 %>
    <% @order.cart.line_items.each_with_index do |line_item, index| %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= image_tag image_url(line_item.product.image), height: 100, width: 100 %> </td>
      <td><%= line_item.product.name %></td>
      <td><%= line_item.quantity %></td>
      <td><%= number_to_currency line_item.price * line_item.quantity %></td>
    </tr>
      <% @sum_order += line_item.price * line_item.quantity %>
  <% end %>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><b>Total price:</b></td>
      <td><b>
        <%= number_to_currency @sum_order %></b></td>
    </tr>
  </table>
<% else %>
  <h3>Please SignIn or SignUp!</h3>
<% end %>
